In [1]:
# Importing required Packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Read data
train=pd.read_csv("loan.csv")

In [3]:
# Features in the dataset
train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant_Income', 'Coapplicant_Income',
       'Loan_Amount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Loan_Status'],
      dtype='object')

In [3]:
features = ['Applicant_Income','Coapplicant_Income','Loan_Amount','Loan_Amount_Term','Loan_Status']

In [4]:
loan_data = train[features]

In [5]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 5 columns):
Applicant_Income      614 non-null int64
Coapplicant_Income    614 non-null float64
Loan_Amount           592 non-null float64
Loan_Amount_Term      600 non-null float64
Loan_Status           614 non-null object
dtypes: float64(3), int64(1), object(1)
memory usage: 24.1+ KB

In [7]:
loan_data['Loan_Amount'].isna().sum()

22

In [9]:
loan_data['Loan_Amount'].fillna( loan_data['Loan_Amount'].mean(), inplace=True)

d:\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [15]:
loan_data['Loan_Amount_Term'].fillna( loan_data['Loan_Amount_Term'].mode(), inplace=True)

In [13]:
# Shape of the dataset
loan_data.shape

(614, 5)

In [17]:
loan_data['Loan_Amount_Term'].describe()

count    600.00000
mean     342.00000
std       65.12041
min       12.00000
25%      360.00000
50%      360.00000
75%      360.00000
max      480.00000
Name: Loan_Amount_Term, dtype: float64

In [16]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 5 columns):
Applicant_Income      614 non-null int64
Coapplicant_Income    614 non-null float64
Loan_Amount           614 non-null float64
Loan_Amount_Term      600 non-null float64
Loan_Status           614 non-null object
dtypes: float64(3), int64(1), object(1)
memory usage: 24.1+ KB

In [18]:
loan_data['Loan_Amount_Term'].mode()

0    360.0
dtype: float64

In [20]:
loan_data.loc[ loan_data['Loan_Amount_Term'].isna(), 'Loan_Amount_Term'] = 360

d:\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [22]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 5 columns):
Applicant_Income      614 non-null int64
Coapplicant_Income    614 non-null float64
Loan_Amount           614 non-null float64
Loan_Amount_Term      614 non-null float64
Loan_Status           614 non-null object
dtypes: float64(3), int64(1), object(1)
memory usage: 24.1+ KB

In [25]:
# Importing packages for cross validation and logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pickle

In [30]:
y = loan_data['Loan_Status']
X = loan_data.drop(['Loan_Status'], axis = 1)
X

     Applicant_Income  Coapplicant_Income  Loan_Amount  Loan_Amount_Term
0                5849                 0.0   146.412162             360.0
1                4583              1508.0   128.000000             360.0
2                3000                 0.0    66.000000             360.0
3                2583              2358.0   120.000000             360.0
4                6000                 0.0   141.000000             360.0
5                5417              4196.0   267.000000             360.0
6                2333              1516.0    95.000000             360.0
7                3036              2504.0   158.000000             360.0
8                4006              1526.0   168.000000             360.0
9               12841             10968.0   349.000000             360.0
10               3200               700.0    70.000000             360.0
11               2500              1840.0   109.000000             360.0
12               3073              8106.0   200.000000             360.0
13               1853              2840.0   114.000000             360.0
14               1299              1086.0    17.000000             120.0
15               4950                 0.0   125.000000             360.0
16               3596                 0.0   100.000000             240.0
17               3510                 0.0    76.000000             360.0
18               4887                 0.0   133.000000             360.0
19               2600              3500.0   115.000000             360.0
20               7660                 0.0   104.000000             360.0
21               5955              5625.0   315.000000             360.0
22               2600              1911.0   116.000000             360.0
23               3365              1917.0   112.000000             360.0
24               3717              2925.0   151.000000             360.0
25               9560                 0.0   191.000000             360.0
26               2799              2253.0   122.000000             360.0
27               4226              1040.0   110.000000             360.0
28               1442                 0.0    35.000000             360.0
29               3750              2083.0   120.000000             360.0
..                ...                 ...          ...               ...
584              2787              1917.0   146.000000             360.0
585              4283              3000.0   172.000000              84.0
586              2297              1522.0   104.000000             360.0
587              2165                 0.0    70.000000             360.0
588              4750                 0.0    94.000000             360.0
589              2726                 0.0   106.000000             360.0
590              3000              3416.0    56.000000             180.0
591              6000                 0.0   205.000000             240.0
592              9357                 0.0   292.000000             360.0
593              3859              3300.0   142.000000             180.0
594             16120                 0.0   260.000000             360.0
595              3833                 0.0   110.000000             360.0
596              6383              1000.0   187.000000             360.0
597              2987                 0.0    88.000000             360.0
598              9963                 0.0   180.000000             360.0
599              5780                 0.0   192.000000             360.0
600               416             41667.0   350.000000             180.0
601              2894              2792.0   155.000000             360.0
602              5703                 0.0   128.000000             360.0
603              3676              4301.0   172.000000             360.0
604             12000                 0.0   496.000000             360.0
605              2400              3800.0   146.412162             180.0
606              3400              2500.0   173.000000             360.0
607              3987              1411.0   157.000000             360.0
608              3232              1950.0   108.000000             360.0
609              2900                 0.0    71.000000             360.0
610              4106                 0.0    40.000000             180.0
611              8072               240.0   253.000000             360.0
612              7583                 0.0   187.000000             360.0
613              4583                 0.0   133.000000             360.0

[614 rows x 4 columns]

In [27]:
# logistic regression   
model = LogisticRegression()
model.fit(X,y)

d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [28]:
f = open(r"e:\classroom\ds\jan21\loan_model.pkl","wb")
pickle.dump(model,f)
f.close()

## Testing pickled model

In [29]:
f = open(r"e:\classroom\ds\jan21\loan_model.pkl","rb")
model = pickle.load(f)
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [49]:
X_test = [[100,80,3000,36]]
y_test = model.predict(X_test)

In [50]:
y_test[0]

'N'